body{
font-family:Arial;
background:#f0f0f0;
text-align:center;
}

nav{
background:#0a5c2f;
padding:10px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

table{
margin:auto;
border-collapse:collapse;
}

th,td{
padding:10px;
}

img{
margin-top:20px;
}
